h1 {
    color: gray;
}

h2 {
    color: #E3E3E3;
}

#first{
    color: #fff;
    background-color: #E3E3E3;
    transition: all 200ms ease-in-out;
    border: none;
}

#first:hover {
    color:#E3E3E3;
    background-color: #fff;
}

#second{
    color: #E3E3E3;
    background-color: #fff;
}

#second:hover{
    color: #fff;
    background-color: #E3E3E3;
}